# Configuración del Servidor
PORT=8080
ENVIRONMENT=development

# Microservicios
# Definen las URLs base para la comunicación interna entre el BFF y los servicios de backend

# 1. Authentication service (Autenticación y Usuarios)
MS_AUTHENTICATION_URL=http://localhost:8081

# 2. Microservicio de funcionarios (Funcionarios y Sucursales)
MS_FUNCIONARIO_URL=http://localhost:8082

# 3. Microservicio de operaciones (Logística, Solicitudes y Notificaciones)
MS_OPERATIONS_URL=http://localhost:8083

# 4. Microservicio de catálogo (Maestros de Productos y Campañas)
MS_CATALOG_URL=http://localhost:8084
